.nav{
  grid-area: n;
  padding: 20px;
  font-size: 20px;
  font-weight: 500;
  /* border: solid black 1px;
  border-radius: 20px; */
  min-width: 105px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.item a:not(.activeLink){
  text-decoration:  none;
  color: black;
}

.activeLink{
  color: gold;
  text-decoration: none;
}