.dialog{
    display: grid;
    grid-template-columns: 2fr 10fr;
    padding: 15px;
}

.dialogs a:not(.active){
    text-decoration: none;
    color: darkblue;
}

.dialogs{
    min-width: 160px;
}

.active{
    color: gold;
    text-decoration: none;
}

.textarea{
    width: 800px;
    min-height: 100px;
    margin-top: 10px;
    font-size: 20px;
}

.button{
    padding: 15px;
    font-size: 20px;
    border-radius: 10px;
    transition: .5s;
}

.button:hover{
    cursor: pointer;
    background-color: rgb(211, 211, 211);
}

.dialogName{
    font-size: 30px;
}

.userDialog{
    font-size: 20px;
}
