.item img{
  width: 40px;
  border-radius: 50%;
}

.message{
  color: blueviolet;
}

.likes{
  color: red;
}

.item{
  display: flex;
  align-items: center;
}

.item>*{
  margin-right: 5px;
}

button{
  transition: .5s;
}

button:hover{
  cursor: pointer;
  background-color: rgb(211, 211, 211);
}