.site{
    width: 100%;
    margin: 0 auto;

    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 2fr 10fr;

    grid-template-areas: 
        "h h"
        "n c";
}

.content{
    grid-area: c;
    min-height: 553px;
}